[submodule "utest.h"]
	path = utest.h
	url = https://github.com/sheredom/utest.h
[submodule "datatype99"]
	path = datatype99
	url = https://github.com/Hirrolot/datatype99.git
[submodule "metalang99"]
	path = metalang99
	url = https://github.com/Hirrolot/metalang99.git
